html {font-size: 8px;}

.introduce {height: 650px;}

.inner {width: 100%;}

.inner-works ul > li.box1 > div {float: none;}
.inner-works ul > li.box2 > div {float: none;}
.inner-works ul > li {height: auto;}
.inner-works ul > li > .img-box {width: 100%;}
.inner-works ul > li > .text-box {width: 100%;}
.inner-works ul > li > .text-box > .work-num {position: static; top: auto; left: auto;}
.inner-works ul > li > .text-box > strong {display: block; position: static; top: auto; left: auto;}
.inner-works ul > li > .text-box > .visit-link {position: static; top: auto;}


.inner-contact {text-align: center;}
.inner-contact .contact-box {display: inline-block;}
.inner-contact > div {float: none; width: auto;}
.inner-contact .contact-box > ul > li > label {text-align: left;}
.inner-contact .contact-box::before {left: -60px;}
.inner-contact .contact-box::after {right: -60px;}
.inner-contact .contact-box > ul > li > textarea {height: 48px;}