* {padding: 0; margin: 0;}
a {text-decoration: none; color: #000000;}
li {list-style: none;}
body {font-family: 'IBM Plex Mono', monospace; background-color: #000000;}
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background: #02090f;}
::-webkit-scrollbar-thumb {background: #ffffff; border-radius: 150px;}
::-webkit-scrollbar-thumb:hover {background: #ffffff;}

header {position: absolute; top: 0; left: 0; width: 100%; padding: 20px 40px 0 20px; box-sizing: border-box;}
header > * {float: left;}
header::after {content: ''; clear: both; display: block;}
header > h1 {width: 50%;}
header > h1 img {width: 3.125rem;}
header > ul {width: 50%; text-align: right;}
header > ul > li {display: inline-block; font-size: 22px; position: relative; z-index: 2;}
header > ul > li:nth-child(2)::after {top: 27px;}
header > ul > li::after {content: ''; display: block; position: absolute; bottom: 0; left: -3px; right: 0; top: 29px; background-color: #2D68FF; z-index: -1; transition: top 0.5s ease;}
header > ul > li:hover::after {top: 0; transition: top 0.5s ease;}
header > ul > li + li {margin-left: 2%;}
header > ul > li > a {color: #ffffff; letter-spacing: 3px;}

.inner.about {padding-top: 100px;}

.contents ul.wrap-contents {margin: 0 auto; width: 1000px;}

.about {padding-top: 100px;}

.introduce {text-align: center; margin-top: 80px;}

.editor {width: 850px; background: #171420; font-family: monospace; font-size: 18px; border-radius: 5px; display: inline-block; text-align: left;}
.editor .buttons {box-sizing: border-box; border-bottom: 1px solid rgb(45,55,65);  padding: 10px;}
.editor .button {width: 10px; height: 10px; border-radius: 100%; display: inline-block;}
.editor .button:nth-child(1) {background: rgb(250,50,50);}
.editor .button:nth-child(2) {background: rgb(250,250,50);}
.editor .button:nth-child(3) {background: rgb(50,250,50);}
.editor .editor-content {padding: 15px;}
.editor .editor-content .editor-line {margin: 5px; color: rgb(195,215,225); counter-increment: line;}
.editor .editor-content .editor-line::before {content: counter(line); margin-right: 15px;}
.editor .editor-content .editor-line span.tab {margin-right: 15px;}
.editor .editor-content .editor-line span.tab-down {margin-right: 11px;}
.editor .editor-content .editor-line span.element {color: rgb(255, 255, 255);}
.editor .editor-content .editor-line span.const {color: rgb(133, 173, 253);}
.editor .editor-content .editor-line span.name {color: rgb(250,250,50);}
.editor .editor-content .editor-line span.data {color: rgb(214, 101, 101);}
.editor .editor-content .editor-line span.remark {color: rgb(36, 227, 58);}

.contact-link {position: absolute; top: 50%; left: 20px; transform: translateY(-50%);}
.contact-link ul > li {color: #ffffff; position: relative;}
.contact-link ul > li + li {margin-top: 20px;}
.contact-link ul > li > a {color: #ffffff;}
.contact-link ul > li:hover .icon {color: #ffffff; transform: scale(1.2); transition: all 0.5s ease;}
.icon {color: rgb(151, 153, 157); transition: all 0.8s ease; font-size: 2rem;}
a.facebook {padding-left: 2px;}
a.email::after {content: 'E-mail'; width: 100px; opacity: 0; font-size: 15px; transition: all 0.4s ease; position: absolute; top: 6px; left: -50px;}
a.github::after {content: 'Github'; width: 50px; opacity: 0; font-size: 15px; transition: all 0.4s ease; position: absolute; top: 6px; left: -50px;}
a.facebook::after {content: 'Facebook'; width: 50px; opacity: 0; font-size: 15px; transition: all 0.4s ease; position: absolute; top: 6px; left: -50px;}
a.blog::after {content: 'Blog'; width: 50px; opacity: 0; font-size: 15px; transition: all 0.4s ease; position: absolute; top: 6px; left: -50px;}
.contact-link ul > li > a:hover::after {transition: all 0.2s ease; opacity: 1; left: 50px;}